<form>
    <div>
      <label>First Name</label>
      <input type="text" name="firstName">
    </div>
  
    <div>
      <label>Last Name</label>
      <input type="text" name="lastName">
    </div>
  
    <div>
      <label>Gender</label>
      <input type="radio" name="gender" value="male"> Male
      <input type="radio" name="gender" value="female"> Female
      <input type="radio" name="gender" value="other"> Other
    </div>
  
    <div>
      <label>Date of Birth</label>
      <input type="date" name="dob">
    </div>
  
    <div>
      <label>Address line 1</label>
      <input type="text" name="address1">
    </div>
  
    <div>
      <label>Address line 2</label>
      <input type="text" name="address2">
    </div>
  
    <div>
      <label>Phone number</label>
      <input type="tel" name="phone">
    </div>
  
    <div>
      <label>Pincode</label>
      <input type="text" name="pincode">
    </div>
  
    <div>
      <label>State</label>
      <input type="text" name="state">
    </div>
  
    <div>
      <label>District</label>
      <input type="text" name="district">
    </div>
  
    <div>
      <label>Upload Photo</label>
      <input type="file" accept="image/*" name="photo">
    </div>
  
    <button type="submit">Save</button>
  </form>
  